*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: black;
  font-family:sans-serif;
}

body {
  padding: 25px;
  margin-top: 50px;
  margin-left: 80px;
  margin-right: 80px;
}

.carte-info{
  color: rgb(185, 49, 51);
  font-size: 1.3em;
  margin: 0;
  padding: 0;
}

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Adjust as needed */
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 7vw;
  background-color:black;
  border-bottom: 2px rgb(116, 110, 109);
  box-shadow: 0 2px 20px rgb(82, 72, 72);
}

.discription {
  color: #f9f8f8;
  margin: 0; 
  text-align: right; 
}

.logo img{
  width: 180px;
  flex: 0 0 auto;
}

.alt-text {
  color: #f9f8f8; /* Choose your desired color using hex, RGB, or color name */
}

.content {
  margin-top: 3em;
  padding: 0 20px; 
  text-align:center;
}

.content p {
  margin-top: 10px;
  margin-bottom: 20px; 
  font-size: 0.9em;
}

.content h1{
  font-size: 30px;
  margin-bottom: 10px;
}

.content_price{
  margin-top: 1em;
  margin-bottom: 0.1em;
  font-size: 1.5em;
}

.price{
  color: rgb(185, 49, 51);
  font-size: 1.3em;
}

.description{
  color: black;
}

#menu4plates{
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo img{
  width: 180px;
  flex: 0 0 auto;
}

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Adjust as needed */
}

.logo-header{
  margin: 3px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 7vw;
  background-color:black;
  border-bottom: 2px rgb(116, 110, 109);
  box-shadow: 0 2px 20px rgb(82, 72, 72);
}

.red-line {
  width: 30%; 
  height: 5px; 
  background-color: rgb(185, 49, 51); 
  margin: 20px auto;
}

.strong_red_for_info{
  color: rgb(185, 49, 51);
  font-weight: bold;
}

.information_pic {
  display: flex;
  align-items: center;
  justify-content: center;
  height: min-content;
  padding-top: 0px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  margin-left: 150px;
  margin-right: 150px;
  background-image: url('../img/sakura2.jpg'); 
  background-size: cover; /* Ensures the image covers the entire element */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */
}

.information{
  margin-top: 3em;
  padding: 20px;
  text-align:center;
  width: 580px;
  height: min-content;
  backdrop-filter: blur(30px);
  box-shadow: 0px 0px 30px rgba(227,228,237, 0.37);
  border: 2px solid rgba(255, 255,255, 0.18);
  border-radius: 15px; 
}

.information .strong_for_info{
  color:black;
  font-weight: bold;
}

.information p {
  margin: 5px auto; 
  font-size: 0.7em;
}

.information  strong {
  color: rgb(185, 49, 51);
}

.strong {
  font-size: 1.8em;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: black;
  margin-bottom: 20px;
  margin-top: 30px;
  color: rgb(166, 39, 41);
}

.hidden {
  display: none;
}

.filterButton{
  background-color: black;
  font-size: 1.1em;
  color: white;
  border-color:#f9f8f8;
  border-radius: 15px;
}

.filterButton:hover {
  background-color: slategrey;
}

.img_3_sushi{
  width: 265px;
  height: auto;
}

.img_allergen_icons{
  margin-top: 10px;
  width: 300px;
  height: auto;
}

.allergen_info{
  font-size: 0.4em;
}

/* --------------popup-----------------*/


.popups{
  background-color: white;
  font-size: 1.1em;
  color: black;
  border-color: white;
  border-radius: 15px;
  font-size: 35px;
  font-weight: bold;
  padding: 8px;
}

.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.popup .content_popup{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  background: #fff;
  width: 480px;
  height: 280px;
  z-index: 2;
  text-align: center;
  padding:20px;
  border-radius: 15px;
  box-sizing: border-box;
  border: 2px solid rgb(185, 49, 51);
}

.popup .close-btn {
  cursor:pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup.active .overlay{
  display: block;
}

.popup.active .content_popup{
  transition: all 300ms ease-in-out;
  transform: translate(-50%,-50%) scale(1);
}

.content_popup h1{
  color: rgb(210, 55, 57);
}
/* --------------drinks-----------------*/

.img_drinks{
  margin-left: 70px;
  padding: 10px;
  padding-left: 20px;
  width: 400px;
  height: auto;
  border-radius: 30%;
}

.drinks_menu section{
  margin-bottom: 20px
}

.drinks {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  max-width: 500px;
}

.drinks h2{
  color: grey;
}
.drinks_name {
  text-align: left;
  width: 75%;
  font-size: 1.8em;
  font-weight: bold;
}


.price {
  text-align: right;
  width: 25%;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}


.drinks_div_left{
  background-color:white;
  width: 47%;
  float: left;
}

.drinks_div_right{
  background-color:rgba(184, 155, 155, 0.2);
  width: 47%;
  float: right;
}
.drinks h2{
  margin-top: 10px;
}

/*----------temaki items----------------*/

.temaki_div_left{
  width: 30%;
  float: left;
}

.temaki_div_right{
  float: right;
  width: 70%;
  text-align: left;
}

.temaki_item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
}

.temaki_img_block{
  width: 300px;
  height: 250px;
  padding: 5px;
}

.temaki_img img{
  width: 300px;
  height: 200px;
  display: inline-block; 
}

.temaki_block {
  width: 300px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  max-width: 500px;
}

.maki_slim_roles_div_start{
  margin-top: 200px;
}
/*----------menu items----------------*/

.menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust as needed */
  grid-gap: 20px; 
  padding: 5px;
}
.menu-container p {
  font-size: 13px;
}


.dishes-item{
  text-align: center;
}

.dishes-item img{
  align-self: center;
  width: 100px;
  height: auto;
}

.centered-content {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

.logo-white img {
  flex: 0 0 auto;
}

.logo-black img {
  flex: 0 0 auto;
  width: 200px; 
  height: auto; 
}


.address, .opening-hours, .time {
  font-size: 1.3em;
  margin-top: 50px;
  word-spacing: 10px;
}

.opening-hours {
  margin-top: 45px;
}

.time {
  font-size: 1.2em;
  margin-top: 27px;
}

.time:last-child {
  margin-bottom: 30px;
}

/*----------footer---------------*/
footer {
  clear: both;
  text-align: center;
  padding: 10px;
  background-color: #000000;
  border-top: 1px solid #ddd;
  margin-top: 20px;
  color: #fff;
}

footer p{
  color: #fff;
}

/*---------filter-------------*/
.custom-search-icon{
  color:white;
  margin-left: 10px;
}
.search{
  background-color: rgb(0, 0, 0);
  font-size: 1.1em;
  color: rgb(150, 46, 46);
  border-color: rgb(255, 255, 255);
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
}

.filter_content {
  color: #f9f8f8;
  margin: 0; 
  text-align: right; 
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-right: 100px;
  display: none;
  position: absolute;
  background-color:rgb(128, 42, 44);
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content div {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  text-align: center;
  display: block;
  cursor: pointer;
}
.dropdown-content div:hover {
  background-color: #201d1d;
}

.dropdown-content.show {
  display: block;
}

.fa fa-search{
  margin-left: 10px;
}


@media screen and (max-width: 768px) {

  body {
    padding: 25px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .img_3_sushi{
    width: 200px;
    height: auto;
  }

  .img_allergen_icons{
    margin-top: 10px;
    width: 250px;
    height: auto;
  }

  .information_pic {
    display: flex;
    align-items: center;
    justify-content: center;
    height: min-content;
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    margin: 0px 0px;
    margin-top: 10px;
    background-image: url('../img/sakura3.jpg'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the entire element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
  }
  
  .information{
    margin-top: 3em;
    padding: 20px;
    text-align:center;
    width: 580px;
    height: min-content;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227,228,237, 0.37);
    border: 2px solid rgba(255, 255,255, 0.18);
    border-radius: 15px; 
  }

  .content_price {
    margin-top: 0.25em;
    margin-bottom: 0.1em;
    font-size: 1.5em;
  }

  .menu-item {
    width: 30%; /* Display items in a single column on small screens */
  }
  .strong {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .strong_for_big_roles {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 15px;
  }

  .temaki_div_left{
    width: 50%;
    float: left;
  }
  
  .temaki_div_right{
    float: right;
    width: 50%;
    text-align: left;
  }

  .temaki_item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
  }

  .temaki_img img{
    width: 300px;
    height: 200px;
    display: inline-block; 
    margin-top: 25px;
  }

  .logo img{
    width: 160px;
    flex: 0 0 auto;
  }

  .content h1{
    font-size: 20px;
  }

  .content p {
    margin-bottom: 0px; 
    font-size: 0.8em;
  }

  .content .information_pic p{
    margin-bottom: 2px; 
    font-size: 0.8em;
  }

  #menu4plates{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .information {
    margin-bottom: 0px; 
  }

  .information p {
    font-size: 0.7em;

  }

  .menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Adjust as needed */
    grid-gap: 20px; /* Adjust the gap between items */
  }

  .temaki_img img{
    width: 200px;
    height: 180px;
    display: inline-block; 
  }
  
  .temaki_block {
    width: 200px;
    height: 260px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    max-width: 500px;
  }
  
  .temaki_img_block{
    width: 200px;
    height: 260px;
    padding: 3px;
  }

  .popups{
    background-color: white;
    font-size: 1.1em;
    color: black;
    border-color: white;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
  }

  .popup .content_popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background: #fff;
    width: 300px;
    height: min-content;
    z-index: 2;
    text-align: center;
    border-radius: 15px;
    padding:20px;
    box-sizing: border-box;
  }


  .popup .close-btn {
    cursor:pointer;
    position: absolute;
    right: 10px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: black;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
  }


  .item p {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
  }

  .drinks h2{
    font-size: 15px;
  }

  .dishes-item {
    text-align: center;
    margin-left:10px;
    margin-right: 10px;

  }
  .dishes-item img{
    align-self: center;
    width: 70px;
    height: 70px;
  }

  .dishes_special-item{
    text-align: center;
    padding: 5px;
  }

  .strong {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .logo img{
    width: 160px;
    flex: 0 0 auto;
  }

  .logo-black img {
    flex: 0 0 auto;
    width: 120px; 
    height: 90px; 
  }

  .phone-number {
    color: #f9f8f8;
    margin: 0; 
    text-align: right; 
    font-size: 0.9em;
  }

  .menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Adjust as needed */
    grid-gap: 15px; /* 3 items */
    padding: 5px;
  }

  .menu_special-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Adjust as needed */
    grid-gap: 100px; /* 2 items */
    padding: 5px;
  }

  .centered-content {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .drinks_menu section{
    margin-bottom: 10px
  }

  .img_drinks{
    padding: 0px;
    padding-left: 0px;
    margin-top: 5px;
    margin-left: 0px;
    width: 150px;
    height: auto;
    border-radius: 30%;
  }

  .custom-search-icon{
    color:white;
    margin-left: 10px;
  }
  .search{
    background-color: rgb(0, 0, 0);
    font-size: 1.1em;
    color: rgb(150, 46, 46);
    border-color: white;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    padding: 8px;
  }

  .dropdown-content {
    margin-right: 120px;
    display: none;
    position: absolute;
    background-color:rgb(128, 42, 44);
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
}